*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.header-wrapper{
    background-image: url(../aseat/images/Animated\ Shape\ \(2\).svg);
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo>img{
    width: 30%;
    /* height: 20%; */
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo>h1{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(238, 7, 115);
    /* margin-left: 1rem; */
}
.nav-Menu>ul{
    display: flex;

    
}
.nav-Menu ul li{
  list-style-type: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  
 
}
.nav-Menu ul li:hover{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-Menu ul li a{
    text-decoration: none;
    color: #fff;
    
}
.bnt-primary{
    background-color: rgba(0, 255, 255, 0.486);
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
  
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
}
.bnt-primary:hover{
    background-color:black;
   transition: 1s;
}
.bnt-primary  a{
    text-decoration: none;
    color: #fff;
}

.header-container p{
    font-size: 18;
    font-weight: 400;
    margin-bottom: 20px;
}
.header-container h1{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(15, 14, 15);
    margin-bottom: 20px;
}
.header-img img{
    width: 150%;
   
}

/* services */
.services-container{
    padding-top: 120px;
    background-color: #fff;
}
 .services-title {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(15, 14, 15);
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
 }


 

 .services{

    box-shadow: 0px 5px 10px rgba(151, 130, 90, 0.233);
    padding: 20px;
    border-radius: 25px;
    /* padding-left: 80px; */

 }
 .info{
    display: flex;
 }

.services:hover{
    background-color: blue;
    transition: 5s;
    cursor: pointer;
}
.services-img>i{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
    background-color: aquamarine;
    border-radius: 50%;
    padding: 25px;
    margin-left: 100px;


}
 .service-title{
        font-size: 2rem;
        font-weight: 800;
        color: rgb(15, 14, 15);
       
        display: flex;
        text-transform: uppercase;
       }
       .services p{
        font-size: 18;
        font-weight: 400;
        margin: 20px 0px;
       }
       .read{
        text-decoration: none;
        font-size: 18;
        font-weight: 400;
        color:blue;
       }
      .secvices-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        margin: 0px 100px;
        padding-bottom: 120px;

       
      }


      /* know-us-section */
      .know-us-container{
        background-image: url('../aseat/images/Rect\ Light.svg');
        background-size: 100%;
       
      }
      .know-us-wrapper{
        margin-top: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
       
      }
      .bnt{
        display: flex;
        justify-content: start;
      }
      .bnt-us{
        background-color: rgba(251, 252, 252, 0.486);
         border:  2px solid blue;
         margin-left: 2rem;
      }
      .know-1 p{
        margin: 2rem 0px;
        font-size: 18;
        font-weight: 400;
        
      }

      /* footer */
      .footer-container{
        background-color: black;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
      }
      .social-media h1{
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 20px;
      }
      .facebook img{
        width: 100%;
      }
      .footer-img img{
        width: 30%;
      }
      .media-title{
        font-size: 1rem;
        font-weight: 500;
        color:#fff;
       
        display: flex;
        justify-content: center;
        text-transform: uppercase;
      }
      .footer-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .footer-info input{
        padding: 1rem;
        font-size: 1rem;
        margin-top: 2rem;
        border-radius: 1rem;

      }
      
      .social-media{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 2rem;
        margin-right: 5rem;
      }





/* Resposive */
    
  /* max-width-662 */
@media screen and (max-width:662px){
     *{
        margin: 0px;
        padding: 0px;
     }
    .navbar{
        flex-direction: column;
     }
     .nav-Menu>ul{
        flex-direction: column;
      
     }
     .nav-Menu ul li{
        margin-top: 15px;
     }
     .bnt-primary{
        margin: 20px;
     }
     .header-img img{
        width: 70%;}

     .secvices-card{
        
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;     
        
}
.services{
    padding-left:10px; 
}
.know-us-wrapper{
 flex-direction: column;
}
.footer-container{
    flex-direction: column;
    
}
.social-media{
    flex-direction: column;
    margin-right: 0px;
}
 
 
 .footer-img img{
    width: 100%;
 }
 .footer-wrapper{
    flex-direction: column;
 }

}




/* min-width-663&max-width-962 */
@media screen and (min-width:662px) and (max-width:962px){
    
   .navbar{
       flex-direction: column;
    }
    .nav-Menu>ul{
       flex-direction: column;
     
    }
    .nav-Menu ul li{
       margin-top: 15px;
    }
    .bnt-primary{
       margin: 20px;
    }
    .know-us-wrapper{
        flex-direction: column;
       }
    .secvices-card{
        
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;     
    }
    .footer-container{
        flex-direction: column;
    }
}

